<% title "PharmaSure" %>

<div class="site-image">
    <%= image_tag("LargeLogoCropped.png", width: "900") %>
</div>


<div class="container">
    <div class="jumbotron main-callout">
        <h1 class="">Be PharmaSure.</h1>
        <p>A pharmacy benefit company designed by pharmacists to improve patient health and lower drug costs for their clients.</p>
        <p>PharmSure is dedicated to being open and transparent in all of our business transactions.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
</div>


<hr>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-5 contact-card">
            <h1>Ross Maret</h1>
            <p><strong>Cell:&nbsp;</strong>706.280.9057</p>
            <!--<p><strong>Email:&nbsp;</strong>rossmaret@pharmasure.net</p>-->
            <p><strong>Address:&nbsp;</strong>PO Box 954, LaGrange, GA, 30241</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 contact-card">
            <h1>Perry Prather</h1>
            <p><strong>Cell:&nbsp;</strong>706.845.4989</p>
            <!--<p><strong>Email:&nbsp;</strong>perryprather@pharmasure.net</p>-->
            <p><strong>Address:&nbsp;</strong>PO Box 954, LaGrange, GA, 30241</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
    </div>
    
    <br>

    <footer>
        <p>&copy; PharmaSure 2017</p>
    </footer>
</div>
